@model AngolaPrev.VivaEstetica.MVC.Models.Clientes.ObterClienteViewModel

<div id="titulo">
    <h1>Perfil</h1>
    <span>Bem vindo ao Viva Estética, @User.Identity.Name</span>
</div>
<hr class="hr_titulo">
<div id="filtros">
    <button id="editar-button" onclick="liberarForm()">Editar perfil</button>
</div>
<div id="conteudo_modulo_perfil" class="conteudo_modulo">
    @using (Html.BeginForm("EditarPerfil", "Cliente", FormMethod.Post, new { @id = "perfilForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group form_width">
            @Html.LabelFor(model => model.Nome)
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form_width">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form_width">
            @Html.LabelFor(model => model.Cpf)
            @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
            @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form_width">
            @Html.LabelFor(model => model.Endereco)
            @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
            @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form_width">
            @Html.LabelFor(model => model.Telefone)
            @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control", @disabled = true })
            @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form_width" id="bnts_perfil">
            <button type="button" id="cancelar-button" onclick="bloquearForm()" class="btn btn-secondary">Cancelar</button>
            <button type="submit" id="enviar-button" class="btn btn-primary">Salvar</button>
        </div>
    }
</div>
<script>
    $("#bnts_perfil").hide();

    function liberarForm() {
        $("#Nome").removeAttr("disabled");
        $("#Endereco").removeAttr("disabled");
        $("#Cpf").removeAttr("disabled");
        $("#Telefone").removeAttr("disabled");

        $("#editar-button").hide();
        $("#bnts_perfil").show();
    }

    function bloquearForm() {
        document.getElementById("perfilForm").reset();

        $("#Nome").attr("disabled", "true");
        $("#Endereco").attr("disabled", "true");
        $("#Cpf").attr("disabled", "true");
        $("#Telefone").attr("disabled", "true");

        $("#editar-button").show();
        $("#bnts_perfil").hide();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}