<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <title>@ViewBag.Title - Viva Estetica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <section id="menu">
        <nav>
            <div id="logo">
                <img src="" class="hide">
                <h2>Viva Estética</h2>
            </div>

            <hr class="hr_menu">

            <ul id="navegacao">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Index", "Agenda")">
                            <img src="~/Content/imgs/clock.svg" alt="icone" width="30" height="30">
                            <span>Agenda</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Servicos")">
                            <img src="~/Content/imgs/clock.svg" alt="icone" width="30" height="30">
                            <span>Serviços</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Perfil", "Cliente")">
                            <img src="~/Content/imgs/clock.svg" alt="icone" width="30" height="30">
                            <span>Perfil</span>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Login")" class="no-underline">
                            <img src="~/Content/imgs/clock.svg" alt="icone" width="30" height="30">
                            <span>Login</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Cadastro", "Cliente")" class="no-underline">
                            <img src="~/Content/imgs/clock.svg" alt="icone" width="30" height="30">
                            <span>Registrar</span>
                        </a>
                    </li>
                }
            </ul>

            <hr class="hr_menu">

            <ul id="sair">
                <li>
                    <a href="@Url.Action("Logout","Login")">
                        <img src="~/Content/imgs/clock.svg" alt="icone" width="30" height="30">
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <section id="conteudo">
        @RenderBody()
    </section>
    <script>
        toastr.options = {
            "closeButton": true,
            "newestOnTop": false,
            "progressBar": true,
        }


         @if (TempData.ContainsKey("Callback"))
          {
                var callback = (KeyValuePair<string, string>)TempData["Callback"];
                var success = (callback.Key == "success").ToString().ToLower();

                @Html.Raw($"toastr['{callback.Key}']('{callback.Value}');");
          }
    </script>
</body>
</html>
