@{
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <title>@ViewBag.Title - Viva Estetica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
    <script>
        toastr.options = {
            "closeButton": true,
            "newestOnTop": false,
            "progressBar": true,
        }


         @if (TempData.ContainsKey("Callback"))
          {
                var callback = (KeyValuePair<string, string>)TempData["Callback"];
                @Html.Raw($"toastr['{callback.Key}']('{callback.Value}');");
          }
    </script>
</body>
</html>

