@model  AngolaPrev.VivaEstetica.MVC.Models.Agenda.FiltroAgendamentoViewModel

@{
    ViewBag.Title = "Index";
}

<div id="titulo">
    <h1>Agenda do dia @Model.DataAgendamentoFormatted</h1>
    <span>Bem vindo ao Viva Estética, @User.Identity.Name</span>
</div>
<hr class="hr_titulo">
<br />
@using (Html.BeginForm("Index", "Agenda", FormMethod.Get))
{
    <div id="filtros">

        <span>Filtros: </span>
        @Html.TextBoxFor(Model => Model.DataAgendamentoFormatted, new { type = "date" })
        <button type="submit">ATUALIZAR</button>

    </div>
}

@if (!string.IsNullOrEmpty(Model.MensagemPendentes))
{
    <br />
    <br />
    <div class="alert alert-warning" role="alert">
        @Model.MensagemPendentes
    </div>
}

<div id="conteudo_modulo_agenda" class="conteudo_modulo">
    <table>
        <thead>
            <tr>
                <th>Horário</th>
                <th>Descrição</th>
                <th>Cliente</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach (var item in Model.Data)
            {

                <tr>
                    <td>
                        @Html.DisplayName(item.Hora.ToString(@"hh\:mm"))
                    </td>
                    <td>
                        @Html.DisplayName(item.DescricaoServico)
                    </td>
                    <td>
                        @Html.DisplayName(item.NomePessoa)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.NomePessoa))
                        {
                            if (item.QuantidadeSessaoAgendamento == 1)
                            {
                                {
                                    var agendamentos = Model.Data.Where(x => x.IdentificadorSecao == item.IdentificadorSecao).OrderBy(x => x.Hora.Ticks);
                                    var primeiroAgendamento = agendamentos.First();
                                    var segundoAgendamento = agendamentos.Last();


                                    if (item.Hora.Ticks == primeiroAgendamento.Hora.Ticks)
                                    {
                                        <button class="btn btn-outline-danger" @(item.IdCliente == Model.IdUsuarioLogado ? string.Empty : "disabled") data-toggle="modal" data-target="#@($"modal-agendamento-{item.IdAgendamento}")">Cancelar</button>
                                    }
                                }
                            }
                            else
                            {
                                <button class="btn btn-outline-danger" @(item.IdCliente == Model.IdUsuarioLogado ? string.Empty : "disabled") data-toggle="modal" data-target="#@($"modal-agendamento-{item.IdAgendamento}")">Cancelar</button>
                            }

                        }
                        else
                        {
                            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#@($"modal-agendamento-agendar-{index}")">Agendar</button>
                            index += 1;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--Modais-->
@{
    int indexModal = 1;
}
@foreach (var item in Model.Data)
{
    if (!string.IsNullOrEmpty(item.NomePessoa))
    {
        if (item.QuantidadeSessaoAgendamento == 1)
        {
            {
                var agendamentos = Model.Data.Where(x => x.IdentificadorSecao == item.IdentificadorSecao).OrderBy(x => x.Hora.Ticks);
                var primeiroAgendamento = agendamentos.First();
                var segundoAgendamento = agendamentos.Last();


                if (item.Hora.Ticks == primeiroAgendamento.Hora.Ticks)
                {
                    <div class="modal fade" id="@($"modal-agendamento-{item.IdAgendamento}")" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cancelar Agendamento</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                @using (Html.BeginForm("Cancelar", "Agenda", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="modal-body">
                                        @Html.Hidden("IdAgendamento", item.IdAgendamento)
                                        @Html.HiddenFor(x => Model.DataAgendamentoFormatted)
                                        Você realmente deseja cancelar o agendamento para o dia @item.DataAgendamento.ToShortDateString() no horário de @item.Hora.ToString() ?
                                        Cancelar este agendamento também cancelara o agendamento do dia @segundoAgendamento.DataAgendamento.ToShortDateString() no horário de @segundoAgendamento.Hora.ToString()
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        <button type="submit" class="btn btn-danger">Cancelar</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="modal fade" id="@($"modal-agendamento-{item.IdAgendamento}")" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        @using (Html.BeginForm("Cancelar", "Agenda", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="modal-body">
                                @Html.Hidden("IdAgendamento", item.IdAgendamento)
                                @Html.HiddenFor(x => Model.DataAgendamentoFormatted)
                                Você realmente deseja cancelar o agendamento para o dia @item.DataAgendamento.ToShortDateString() no horário de @item.Hora.ToString()?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-danger">Cancelar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <div class="modal fade" id="@($"modal-agendamento-agendar-{indexModal}")" tabindex="-1" role="dialog" aria-labelledby="modalAgendarLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAgendarLabel">Novo agendamento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("Agendar", "Agenda", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("HorarioAgendamento", item.Hora)
                        @Html.HiddenFor(x => Model.DataAgendamentoFormatted)

                        <div class="modal-body">
                            <div class="col-12 form-group">
                                @Html.Label("IdServico")
                                @Html.DropDownList("IdServico", Model.Servicos, "Selecione...", new { @class = "form-control" })
                            </div>
                            <div class="col-12 form-group">
                                <label for="qtd_secao">Quantidade de seções</label>
                                <select name="QuantidadeSessao" id="qtd_secao" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        indexModal += 1;
    }
}
